body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.container {
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: rgb(34, 193, 195);
  max-height: 700px;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

h1 {
  color: #333;
  font-size: 2.5em;
  font-weight: bold;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#counter {
  font-size: 2em;
  margin: 20px 0;
}

.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
  max-height: 900px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.audio-player {
  border-radius: 8px; /* Bo góc */
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}

.audio-player audio {
  margin-top: 10px; /* Khoảng cách từ bộ điều khiển */
}

.audio-player audio::-webkit-media-controls-panel {
  border-radius: 8px; /* Bo góc bộ điều khiển */
}

.audio-player audio::-webkit-media-controls-play-button,
.audio-player audio::-webkit-media-controls-volume-slider {
  background-color: #555; /* Màu nền của nút play và volume slider */
}

.audio-player audio::-webkit-media-controls-current-time-display,
.audio-player audio::-webkit-media-controls-time-remaining-display {
  color: #555; /* Màu chữ của thời gian hiện tại và thời gian còn lại */
}

.audio-player audio::-webkit-media-controls-seek-back-button,
.audio-player audio::-webkit-media-controls-seek-forward-button {
  background-color: #555; /* Màu nền của nút tua */
}

.audio-player audio::-webkit-media-controls-volume-slider {
  background-color: #555; /* Màu nền của volume slider */
}


